{
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "hrithikp/mesos-demo-drupal",
      "network": "BRIDGE",
      "portMappings": [
        { "containerPort": 80, "hostPort": 0, "servicePort": 1088, "protocol": "tcp" }
      ]
    }
  },
  "volumes":[],
  "env":{
    "MYSQL_ENDPOINT": "",
    "MYSQL_PASSWORD": "",
    "MYSQL_USERNAME": "",
    "MYSQL_DATABASE": ""
  },
  "id": "demo-drupal",
  "instances": 5,
  "cpus": 2,
  "mem": 6144
}
